<section id="settings_hero" class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= _('Settings') %>
      </h1>
    </div>
  </div>
</section>
<section id="settings_form" class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, builder: AppFormBuilder) do |f| %>
        <div class="tile is-ancestor">
          <div class="tile box">
            <div class="container">
              <div class="columns">
                <div class="column">
                  <p class="title"><%= _('Change email') %></p>
                  <div class="field">
                    <%= f.label :email %>
                    <%= f.email_field :email, autocomplete: "email" %>
                    <%= f.errors :email %>
                  </div>
                </div>
                <div class="column">
                  <p class="title"><%= _('Change password') %></p>
                  <div class="field">
                    <%= f.label :password %>
                    <%= f.password_field :password, autocomplete: "new-password" %>
                    <% if @minimum_password_length %>
                    <%= f.help_block _('%{min} characters minimum') %{:min => @minimum_password_length} %>
                    <% end %>
                    <%= f.errors :password %>
                  </div>
                  <div class="field">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                    <%= f.errors :password_confirmation %>
                  </div>
                </div>
              </div>
              <div class="columns has-background-grey-lighter">
                <div class="column is-half">
                  <p class="title"><%= _('Confirm changes') %></p>
                  <div class="field">
                    <%= f.label :current_password %>
                    <%= f.password_field :current_password, autocomplete: "current-password" %>
                    <%= f.help_block _('We need your current password to confirm the changes.') %>
                    <%= f.errors :current_password %>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <div class="actions">
                    <%= f.submit _('Update'), class: 'is-large' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
