<% content_for(:navbar) do %>&nbsp;<% end %>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third is-offset-one-third">
        <div class="is-pt-2 is-pb-4 has-text-centered">
          <img src="<%= asset_pack_path 'images/pasty_logo_cyan.svg' %>" alt="Pasty logo" width="120" />
        </div>
        <h1 class="title has-text-centered"><%= _('Sign up') %></h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), builder: AppFormBuilder) do |f| %>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            <%= f.errors :email %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
            <%= f.help_block _('%{min} characters minimum') %{:min => @minimum_password_length} %>
            <% end %>
            <%= f.errors :password %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            <%= f.errors :password_confirmation %>
          </div>

          <div class="actions">
            <%= f.submit _('Sign up'), class: 'is-large is-fullwidth' %>
          </div>
        <% end %>

        <div class="is-py-5 has-text-centered">
          <a href="<%= new_user_session_path %>"><%= _('Already have an account?') %></a>
        </div>
      </div>
    </div>
  </div>
</section>
