<%= form_with(model: snippet, local: true, builder: AppFormBuilder) do |form| %>
<div class="level">
  <div class="level-left">
    <div class="select">
      <%= form.select :lexer, options_for_select(Snippet::LEXERS.map {|k, v| [v, k]}, snippet.lexer), {} %>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item">
      <div class="field">
        <%= form.submit 'Paste snippet' %>
      </div>
    </div>
  </div>
</div>

<div class="field">
  <div class="control">
    <%= form.text_area :content, placeholder: "Paste your awesome code here...", autofocus: true %>
    <%= form.errors :content %>
  </div>
</div>
<% end %>
