<% content_for :body_id do %>snippet_show<% end %>
<% content_for :data_controller do %>snippet:show<% end %>

<section id="snippet_url" class="section has-background-light">
  <div class="container is-fluid">
    <h1 class="subtitle has-text-grey">
      <%= request.original_url %>
      <button class="button is-text" id="copy_snippet_url_link" data-clipboard-text="<%= request.original_url %>"><i data-feather="clipboard"></i></button>
    </h1>
    <hr />
    <p>
      <small>
        <b><%= Snippet::LEXERS.fetch(@snippet.lexer.to_sym, _('Plain text')) %></b>
        &ndash;
        <% if @snippet.expire_in %>
        <%= _('Expires in %{d}') %{:d => distance_of_time_in_words(Time.now, @snippet.expire_in)} %>
        <% elsif @snippet.is_one_time %>
        <%= _('One Time Snippet') %>
        <% else %>
        <%= _('Never expires') %>
        <% end %>
        <% if !@snippet.is_one_time %>
        &ndash;
        <a href="<%= request.original_url %>?raw"><%= _('View raw') %></a>
        <% end %>
      </small>
    </p>
  </div>
</section>
<section id="snippet_content" class="section">
  <div class="container is-fluid is-widescreen">
    <div class="columns">
      <div class="column">
        <div class="content">
          <pre><code class="<%= @snippet.lexer %>"><%= @snippet.content %></code></pre>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="edit_snippet_divider" class="section has-background-info">
  <div class="container is-fluid">
    <h2 class="is-size-6"><strong class="has-text-light"><%= _('Edit this snippet') %></strong></h2>
  </div>
</section>
<section id="edit_snippet" class="section">
  <div class="container is-fluid is-widescreen">
    <div class="columns">
      <div class="column">
        <div class="content">
          <%= render 'form', snippet: @new_snippet_from_current %>
        </div>
      </div>
    </div>
  </div>
</section>
