<!DOCTYPE html>
<html>
  <head>
    <title>PastyExperiment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'App' %>
    <%= stylesheet_pack_tag 'App', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'App' %>
  </body>
</html>
